* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
a,
a:link,
a:visited {
  color: #fffafa;
}

form div {
  /* margin: 1em; */
  display: inline-block;
}
.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.contentWrap {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    rgb(253, 252, 251) 0%,
    rgb(226, 209, 195) 100%
  );
}

.parentOfDropzone {
  min-height: 500px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  background: rgb(220, 200, 186);
  padding: 50px 50px;
}

.dropzone {
  border: 10px dashed rgba(0, 0, 0, 0.3);
  background-color: rgb(218, 181, 153);

  padding: 100px 100px;
}
.dropzone-DragActive {
  border: 10px dashed rgba(0, 0, 0, 0.3);
  background-color: rgb(227, 159, 130);
  padding: 200px 200px;
}
.dropzone-content {
  text-align: center;
}

.file-item {
  border: 10px solid rgba(250, 123, 25, 0.3);
}

.file-list {
  border: 10px solid rgba(235, 177, 132, 0.527);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.file-img {
  height: 290px;
  width: 290px;
}

/* keeps canvas centered  */
.canvas-container {
  margin-left: auto;
  margin-right: auto;
}
#canvas {
  background-color: rgb(245, 239, 234);
}
.sign {
  margin-top: 10em;
}

img {
  max-width: 100%;
}
#no-scroll1::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

/* nav bar */
.MuiTabs-fixed {
  max-width: 1400px;
}
.MuiToolbar-regular {
  justify-content: center;
}
.MuiTabs-flexContainer {
  justify-content: space-between;
}

/* landing page */
.details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media screen and (max-width: 691px) {
  .details {
    display: block;
  }
}
@media screen and (max-width: 928px) {
  .notesGrid {
    width: 30%;
  }
}
