body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}
a,
a:link,
a:visited {
  color: #fffafa;
}

form div {
  /* margin: 1em; */
  display: inline-block;
}
.parentOfDropzone {
  min-height: 500px;
  border: 10px solid rgba(0, 0, 0, 0.3);
  background: rgb(220, 200, 186);
  padding: 50px 50px;
}

.dropzone {
  border: 10px dashed rgba(0, 0, 0, 0.3);
  background-color: rgb(218, 181, 153);

  padding: 100px 100px;
}
.dropzone-DragActive {
  border: 10px dashed rgba(0, 0, 0, 0.3);
  background-color: rgb(227, 159, 130);
  padding: 200px 200px;
}
.dropzone-content {
  text-align: center;
}

.file-item {
  border: 10px solid rgba(250, 123, 25, 0.3);
}

.file-list {
  border: 10px solid rgba(235, 177, 132, 0.527);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.file-img {
  height: 290px;
  width: 290px;
}

#canvas {
  background-color: rgb(245, 239, 234);
}
.sign {
  margin-top: 10em;
}
/* @font-face {
  font-family: 'Mali';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mali/v4/N0ba2SRONuN4SC3ED35yKd4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fascinate';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/fascinate/v11/z7NWdRrufC8XJK0IIElS07zRZv-drg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
} */
